.alert-dismissible {
	height: 2rem;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 20;
	top: 4.5rem;
	border-radius: 2rem;
	opacity: 0.75;
}
.alert-dismissible span {
	font-weight: 500;
}
.btn-close {
	padding: 0.5rem !important;
	position: relative;
	margin-right: 1rem;
	border-radius: 2rem;
}
