.card-img-top {
	border-radius: 0.5rem;
	width: 70%; /* Full width of container */
	height: auto;
	object-fit: fill;
}

.show-card {
	border: none;
}
.card-body {
	padding: 1rem 0;
}
.card-deleteBtn {
	display: inline-block;
	margin-right: 1%;
}
.btn-dark {
	margin-right: 1%;
}
.col-btns {
	margin-bottom: 1rem;
}
.row-coustom {
	display: flex;
	justify-content: center;
}
.show-non-italic {
	font-style: normal;
}
.card-text {
	margin-bottom: 1%;
}

.tab-border {
	border: solid rgba(0, 0, 0, 0.339) 1px;
	border-radius: 1rem;
	padding: 1rem;
}
.special-tab-border {
	padding-left: 0.5rem;
}

@media (min-width: 600px) {
	.special-tab-border {
		position: relative;
		left: -1rem;
	}
}

#map {
	height: 45vh;
	border: 1px solid rgba(0, 0, 0, 0.378);
	border-radius: 1rem;
}

.show-relative-heading {
	position: relative;
	left: -0.25rem;
}
@media (max-width: 768px) {
	.show-relative-heading {
		left: 0rem;
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.rating-relative-tab {
		position: relative;
		left: 0.35rem;
	}
}
@media (min-width: 576px) and (max-width: 600px) {
	.card-info-relative {
		position: relative;
		left: -1rem;
	}
}
