.signUp-form {
	height: 23rem;
	width: 50vw;
	border: 1px solid black;
	border-radius: 1rem;
	padding: 1rem 1rem;
	margin-top: 1rem;
	position: relative;
	left: -5%;
}
@media (min-width: 650px) {
	.signUp-form {
		width: 30vw;
		left: 0;
	}
}
.form-label {
	font-weight: 500;
}
.form-control {
	border: 1px solid black;
}
.form-control:focus {
	border-color: rgb(255, 56, 92, 0.35); /* Optional: Change the border color */
	box-shadow: 0 0 5px 3px rgb(255, 56, 92, 0.35); /* Custom green shadow */
}
