<link rel="stylesheet" href="/includes/footer.css" />

<footer>
	<div class="f-info row">
		<div class="f-info-name col-md-3 mt-1">&copy; ComfortNest Pvt.ltd</div>
		<div class="f-info-links col-md-3">
			<a href="/privacy" class="me-2">privacy</a>
			<a>|</a>
			<a href="/terms" class="ms-2">terms</a>
		</div>
		<div class="f-info-socialMedia col-md-3 mt-1">
			<a href="#"><i class="fa-brands fa-square-instagram"></i></a>
			<a href="#"><i class="fa-brands fa-linkedin"></i></a>
			<a href="https://github.com/shanks-D-fury"
				><i class="fa-brands fa-github"></i
			></a>
		</div>
	</div>
</footer>
