<link rel="stylesheet" href="/includes/model.css" />
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 ms-3" id="exampleModalLabel">
					User Profile
				</h1>
			</div>
			<div class="modal-body row align-items-center">
				<img
					src="https://res.cloudinary.com/duvvugmgx/image/upload/v1730118280/one-piece-logo-website1_xkkzdz.jpg"
					class="col-5 model-image"
				/>
				<div class="col-7">
					<% if(currentUser){ %>
					<h5>Username:- <%= currentUser.username %></h5>
					<h5>Email:- <%= currentUser.email %></h5>
					<% } else{%>
					<h5>Username:- Unknown</h5>
					<h5>Email:- Unknown</h5>
					<% } %>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-outline-dark"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>
