<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ComfortNest</title>
		<link rel="stylesheet" href="/listings/style.css" />
	</head>
	<body>
		<h1 id="boilerplateNavbar">NavBar</h1>
		<div class="container"><%- body -%></div>
		<!-- This above tag is to include the body of another ejs templete -->
	</body>
</html>
