<link rel="stylesheet" href="/includes/alerts.css" />
<% if(success && success.length){ %>
<div
	class="alert alert-success alert-dismissible fade show col-lg-5 offset-lg-3 col-7 offset-1 justify-content-center"
	role="alert"
>
	<span class="ms-4"><%= success %></span>
</div>

<% } %> <% if(error && error.length){ %>
<div
	class="alert alert-danger alert-dismissible fade show col-lg-5 offset-lg-3 col-7 offset-1 justify-content-center"
	role="alert"
>
	<span class="ms-4"><%= error %></span>
</div>
<% } %>

<script>
	// Function to automatically close the alert after 2 seconds
	setTimeout(function () {
		// Find the alert elements
		const alertElement = document.querySelector(".alert");

		if (alertElement) {
			// Trigger Bootstrap's alert dismiss method
			const alertDismiss = new bootstrap.Alert(alertElement);
			alertDismiss.close(); // Dismiss the alert
		}
	}, 2000); // 2000ms = 2 seconds
</script>
