<link rel="stylesheet" href="/includes/footer.css" />

<footer>
	<div class="f-info">
		<div class="f-info-socialMedia">
			<i class="fa-brands fa-square-instagram"></i>
			<i class="fa-brands fa-linkedin"></i>
			<i class="fa-brands fa-github"></i>
		</div>
		<div class="f-info-companyName">&copy; ComfortNest Pvt.ltd</div>
		<div class="f-info-links">
			<a href="/privacy">privacy</a>
			<a>|</a>
			<a href="/terms">terms</a>
		</div>
	</div>
</footer>
