<link rel="stylesheet" href="/listings/filterBar.css" />
<div class="row mt-2">
	<div class="col-6">
		<div class="category-filter">
			<button class="category-btn" data-category="all">
				<p><i class="fa-regular fa-compass"></i></p>
				All
			</button>
			<button class="category-btn" data-category="rooms">
				<p><i class="fa-solid fa-bed"></i></p>
				Rooms
			</button>
			<button class="category-btn" data-category="cities">
				<p><i class="fa-solid fa-city"></i></p>
				cities
			</button>
			<button class="category-btn" data-category="mountain">
				<p><i class="fa-solid fa-mountain-sun"></i></p>
				mountain
			</button>
			<button class="category-btn" data-category="pools">
				<p><i class="fa-solid fa-person-swimming"></i></p>
				pools
			</button>
			<button class="category-btn" data-category="mansions">
				<p><i class="fa-brands fa-fort-awesome"></i></p>
				Mansions
			</button>
			<button class="category-btn" data-category="farms">
				<p><i class="fa-solid fa-cow"></i></p>
				farms
			</button>
		</div>
	</div>
</div>
<script src="/JS/filterListing.js"></script>
