<% layout("/layouts/boilerplate.ejs") -%>
<body>
	<h2>Hotels</h2>
	<!-- <form action="/listings/new" method="get">
		<button>Create New Hotel Info</button>
	</form> -->
	<ul>
		<% for(let listing of featchedInfo) {%>
		<li>
			<a href="/listings/<%= listing._id%>" id="normalTitleLink"
				><%=listing.title%></a
			>
		</li>
		<% } %>
	</ul>
</body>
