<link rel="stylesheet" href="/listings/map.css" />
<div class="col-11 col-sm-12 tab-border special-tab-border">
	<h4>Where you'll be</h4>
	<div
		id="map"
		class="listing-item col"
		data-listing="<%= JSON.stringify(listing) %>"
	>
		>
	</div>
</div>
<script>
	const mapToken = "<%= process.env.MAP_TOKEN %>"; // this is to pass the process.env as a global variable
</script>
