<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/newPage.css" />
<body>
	<div class="row">
		<div class="col-6 offset-3">
			<h3>Create New Listing</h3>
			<form
				action="/listings/new"
				method="post"
				novalidate
				class="needs-validation"
				enctype="multipart/form-data"
			>
				<div class="mb-2">
					<label for="title" class="form-title">Title</label>
					<input
						name="Listing[title]"
						placeholder="Hotel / Residance name"
						type="text"
						class="form-control"
						required
					/>
					<div class="invalid-feedback">Please enter valid Title</div>
				</div>
				<div class="mb-2">
					<label for="description" class="form-description">Description</label
					><textarea
						name="Listing[description]"
						placeholder="Description of hotel"
						type="text"
						class="form-control"
						required
					></textarea>
				</div>
				<div class="mb-2">
					<label for="image" class="form-image">Upload Image</label>
					<input name="Listing[image]" type="file" class="form-control" />
				</div>
				<div class="row">
					<div class="mb-2 col-md-4">
						<label for="price" class="form-price">Price</label>
						<input
							name="Listing[price]"
							placeholder="14684"
							type="number"
							class="form-control"
							required
						/>
						<div class="invalid-feedback">Please enter valid Price</div>
					</div>
					<div class="mb-2 col-md-8">
						<label for="country" class="form-country">Country</label>
						<input
							name="Listing[country]"
							placeholder="India"
							type="text"
							class="form-control"
							required
						/>
						<div class="invalid-feedback">Please enter valid Country Name</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="location" class="form-location">Location</label>
					<input
						name="Listing[location]"
						placeholder="Bengaluru / KGF"
						type="text"
						class="form-control"
						required
					/>
					<div class="invalid-feedback">Please enter valid Location</div>
				</div>
				<button class="btn btn-dark">Add</button>
			</form>
		</div>
	</div>
</body>
