<link rel="stylesheet" href="/listings/reviewTab.css" />
<link rel="stylesheet" href="/listings/rating.css" />
<link rel="stylesheet" href="/listings/customRating.css" />
<% if(currentUser){ %>
<div class="col offset-1 mb-3 tab-border mt-3">
	<form
		action="/listings/<%=listing._id  %>/review"
		method="post"
		novalidate
		class="needs-validation"
	>
		<!-- <div class="mb-1 rating-bar">
			<label for="rating" class="form-label rating-form-label">Rating </label>
			paste here
		</div> -->
		<div class="mb-1 rating-bar rating">
			<div>
				<label for="rating" class="form-label rating-form-label">Rating </label>
			</div>
			<div class="mb-1 rating-form-icons">
				<!-- Radio buttons (hidden) -->
				<input
					type="radio"
					id="no-rate"
					class="input-no-rate"
					name="Review[rating]"
					value="1"
					checked
					aria-label="No rating."
					hidden
				/>
				<input
					type="radio"
					id="rate-1"
					name="Review[rating]"
					value="1"
					hidden
				/>
				<input
					type="radio"
					id="rate-2"
					name="Review[rating]"
					value="2"
					hidden
				/>
				<input
					type="radio"
					id="rate-3"
					name="Review[rating]"
					value="3"
					hidden
				/>
				<input
					type="radio"
					id="rate-4"
					name="Review[rating]"
					value="4"
					hidden
				/>
				<input
					type="radio"
					id="rate-5"
					name="Review[rating]"
					value="5"
					hidden
				/>
				<span class="fa fa-star" id="star1" onclick="rate(1)"></span>
				<span class="fa fa-star" id="star2" onclick="rate(2)"></span>
				<span class="fa fa-star" id="star3" onclick="rate(3)"></span>
				<span class="fa fa-star" id="star4" onclick="rate(4)"></span>
				<span class="fa fa-star" id="star5" onclick="rate(5)"></span>
			</div>
		</div>
		<div class="mb-3">
			<label for="comment" class="form-label comment-form-label">Comment</label
			><br />
			<textarea
				name="Review[comment]"
				id="comment"
				rows="3"
				cols="30"
				class="form-control"
				required
			></textarea>
			<div class="invalid-feedback">Please enter valid comment</div>
		</div>
		<button type="submit" class="btn btn-dark">submit</button>
	</form>
</div>
<% } %>
