<link rel="stylesheet" href="/listings/reviewTab.css" />
<link rel="stylesheet" href="/listings/rating.css" />
<% if(currentUser){ %>
<div class="col-6 offset-1 mb-3">
	<form
		action="/listings/<%=listing._id  %>/review"
		method="post"
		novalidate
		class="needs-validation"
	>
		<div class="mb-3 rating-bar">
			<label for="rating" class="form-label rating-form-label">Rating </label>
			<fieldset class="starability-basic" id="rating">
				<input
					type="radio"
					id="no-rate"
					class="input-no-rate"
					name="Review[rating]"
					value="1"
					checked
					aria-label="No rating."
				/>
				<input type="radio" id="first-rate1" name="Review[rating]" value="1" />
				<label for="first-rate1" title="Terrible">1 star</label>
				<input type="radio" id="first-rate2" name="Review[rating]" value="2" />
				<label for="first-rate2" title="Not good">2 stars</label>
				<input type="radio" id="first-rate3" name="Review[rating]" value="3" />
				<label for="first-rate3" title="Average">3 stars</label>
				<input type="radio" id="first-rate4" name="Review[rating]" value="4" />
				<label for="first-rate4" title="Very good">4 stars</label>
				<input type="radio" id="first-rate5" name="Review[rating]" value="5" />
				<label for="first-rate5" title="Amazing">5 stars</label>
			</fieldset>
		</div>
		<div class="mb-3">
			<label for="comment" class="form-label comment-form-label">Comment</label
			><br />
			<textarea
				name="Review[comment]"
				id="comment"
				rows="3"
				cols="30"
				class="form-control"
				required
			></textarea>
			<div class="invalid-feedback">Please enter valid comment</div>
		</div>
		<button type="submit" class="btn btn-dark">submit</button>
	</form>
	<hr />
</div>
<% } %>
