<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/listings/showCard.css" />
<body>
	<div class="row row-coustom">
		<div class="col-md-6 offset-sm-1 offset-md-0 card-info-relative">
			<%- include("../listings/card-info.ejs") %>
		</div>
		<div class="col-md-6 rating-relative-tab">
			<%- include("../listings/reviewTab.ejs") %> <%-
			include("../listings/comments.ejs") %>
		</div>
	</div>
</body>
<script src="/JS/rating.js"></script>
<script src="/JS/map.js"></script>
