<% layout("/layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/ErrorPage/Error.css" />
<div class="row">
	<div class="alert alert-success col-6 offset-3" role="alert">
		<p><%= message %></p>
		<div class="Error-btn-statuscode-div">
			<span class="statusCode-msg"><%= status %></span>
			<a href="/listings" class="btn btn-outline-dark">Home</a>
		</div>
	</div>
</div>
