.review-trash-symbol {
	font-size: smaller;
}
.btn-danger {
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
}
.review-stars-trash {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa-star {
	color: #f5bd23;
}
.rating-star-text {
	font-size: larger;
}
.card-date-text {
	font-size: 0.75rem;
	line-height: 1rem;
}
.card-title {
	margin-bottom: 0;
}
.review-card {
	border: solid rgba(0, 0, 0, 0.339) 1px;
}
