.rating-form-label {
	display: inline-block;
}
.rating-form-label,
.comment-form-label {
	font-weight: 600;
}
#rating {
	width: 50%;
	color: #ff385c;
}
.rating-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#currentRating {
	border: black 0.1rem solid;
	padding: 0.15rem 0.35rem;
	border-radius: 0.2rem;
	background-color: #212529;
	color: #ffffff;
}

/* coustom styling of the tracker in the review bar */
input[type="range"]::-webkit-slider-thumb {
	background-color: #212529;
}
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #0000005a;
}

.review-stars-trash {
	display: flex;
	justify-content: space-between;
}

.form-control {
	border: #21252976 solid 0.05rem;
}
