.card-img-top {
	border-radius: 0.5rem;
	width: 50%; /* Full width of container */
	height: auto;
	object-fit: fill;
}
@media (min-width: 650px) {
	.card-img-top {
		/* width: 20vw;
		height: 30vh; */
		aspect-ratio: 1/1;
	}
}
.show-card {
	border: none;
}
.card-body {
	padding: 1rem 0;
}
.card-deleteBtn {
	display: inline-block;
	margin-right: 1%;
}
.btn-dark {
	margin-right: 1%;
}
.col-btns {
	margin-bottom: 1rem;
}
.row-coustom {
	display: flex;
	justify-content: center;
}
.show-non-italic {
	font-style: normal;
}
.rating-form-label {
	display: inline-block;
}
#rating {
	width: 50%;
	color: #ff385c;
}
.rating-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#currentRating {
	border: black 0.1rem solid;
	padding: 0.15rem 0.35rem;
	border-radius: 0.2rem;
}

/* coustom styling of the tracker in the review bar */
input[type="range"]::-webkit-slider-thumb {
	background-color: #ff385c;
	opacity: 0.75;
}
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #0000005a;
}

.review-stars-trash {
	display: flex;
	justify-content: space-between;
}
