body {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 360;
	font-style: italic;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* min-width: 570px; */
}
.theme-color {
	color: #ff385c;
}
.container {
	flex: 1;
}
#normalTitleLink {
	text-decoration: none;
}
.inlineHeadings {
	display: inline-block;
	margin-right: 20px;
}
.redColorLink {
	color: red;
}
/* tempreary navbar code */
#boilerplateNavbar {
	background-color: lightblue;
	text-align: center;
	/* margin-left: -10%; */
}
.tab-border {
	border: solid rgba(0, 0, 0, 0.148) 1px;
	border-radius: 1rem;
	padding: 1rem;
}
.special-tab-border {
	padding-left: 0.5rem;
}

#map {
	height: 45vh;
	width: 34svw;
	border: 1px solid rgba(0, 0, 0, 0.378);
	border-radius: 1rem;
}

@media (max-width: 765px) {
	#map {
		width: 60vw;
	}
}
