body {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}
#normalTitleLink {
	text-decoration: none;
}
.inlineHeadings {
	display: inline-block;
	margin-right: 20px;
}
.redColorLink {
	color: red;
}
/* tempreary navbar code */
#boilerplateNavbar {
	background-color: lightblue;
	text-align: center;
	/* margin-left: -10%; */
}
